packages:
  yum:
    gcc-c++: []
    make: []
    git: []
commands:
  redis_script_01:
    command: wget https://raw.github.com/KeithP/install-redis-amazon-linux-centos/master/redis-install-script.sh
  redis_script_02:
    command: chmod 777 redis-install-script.sh
  redis_script_03:
    command: ./redis-install-script.sh
  redis_server_start:
    command: service redis-server start
