<div class="jumbotron center">
  <h1>Welcome to gTrack</h1>
  
  <h2>
    This is the place to get all the information you need for your Steam games!
  </h2>
  
  <p><%= link_to "Sign up Now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Games as Guest User
    </h3>
    <h2 class="left">Browse and view games as a guest and Sign up later</h2>
    <p><%= link_to "Browse Games Listings", games_path, class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      Sign in to your account
    </h3>
    <h2 class="left">Create reviews/like-dislike games and much much more!</h2>
    <p><%= link_to "Log in to your account", login_path, class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      Join the Chatroom
    </h3>
    <h2 class="left">Head to the chatroom</h2>
    <p><%= link_to "Browse Games Listings", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>