@import "bootstrap-sprockets";
@import "bootstrap";

/* generic */
body{
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* game */
.game-header{
  font-family: 'Permanent Marker', cursive;
  color: #ff5252;
  margin-bottom: 30px;
}

.game-banner{
  margin-bottom: 30px;
}

.clearfix-divider{
  margin-bottom: 30px;
}

.game-price{
  margin-bottom: 30px;
}

.game-description{
  margin-bottom: 30px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* badge */
.badge-genre{
  margin-right: 10px;
}
.badge-success{
  background-color: #468847;
}

/* search form */
.search-container{
  margin: 50px 0;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid #d3d3d3;
}
