<footer class="footer">
  <small>
    <a href="/">GTrack</a>
    <a href="https://store.steampowered.com/">Steam Tracker</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Games", '#' %></li>
      <li><a href="https://store.steampowered.com/">Steam</a></li>
    </ul>
  </nav>
</footer>
